
body {
    background-color: #F5F5F9;
    display: grid;
    grid-template-columns: 15vw 83vw;
    grid-template-rows: auto auto auto;
    grid-gap: 0.3vw:
    margin: 0.3vw;
}
header {
    color: #FFF;
    text-align: right;	
    padding-right: 3%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background-color: gold;\
    background-image: url("images/cpe.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid gray;
    grid-area: 1 / 1 / 2 / 3;
 }
header > h1 {				
    margin-top: 0;
    padding-top: 0;
    text-shadow: 2px 2px darkgray;
}
header > h2 {
								    margin-top: 2%;
								        margin-bottom: 0;
									    text-shadow: 1px 1px gray;
								    }
								    nav {
									        box-shadow:0.5px 0.5px 0.5px;
										    font-family: 'Poppins', sans-serif;
										        border: 2px solid #EDEEF1;
											    background-color: #EDEEF1;
											        grid-area: 2 / 1 / 3 / 2;
												    font-size:20px;
												        text-align:justify;
												}
												nav > a {
													    display: block;
													        width: 80%;
														    margin-left: auto;
														        margin-right: auto;
															    margin-top: 3%;
															        padding: 1.5%;
																    background-color: white;
																        border: 1px solid black;
																	    border-radius: 10px;
																	        text-align:center;
																		    text-decoration: none;
																		        color: #F3524F;
																			    font-size: 100%;
																		    }
																		    nav > a:hover {
																			        background-color: #F3524F;
																				    color: #FFF;
																			    }
																			    main {
																				        padding: 1%;
																					    box-shadow: 0.5px 0.5px 0.5px;
																					        font-family: 'Poppins', sans-serif;
																						    border: 2px solid #DEDFE2;
																						        background-color: white;
																							    grid-area: 2 / 2 / 3 / 3;
																						    }
																						    footer {
																							        font-family: 'Poppins',sans-serif;
																								    text-align: center;
																								        margin-top: 40px;
																									    font-size: .9em;
																									        grid-area: 3 / 1 / 4 / 3;
																									}
																									footer > a {
																										    border: 1px solid #777;
																										        padding-top: 2px;
																											    padding-bottom: 2px;
																											        padding-right: 2px;
																												    margin-right: 10px;
																												        background-color: #FFF;
																												}
																												footer > a, footer > a:visited {
																													    text-decoration: none;
																													        color: #00A;
																													}
																													footer > a > strong {
																														    background-color: #55C;
																														        color: #FFF;
																															    padding: 2px;
																															        padding-left: 4px;
																																    margin-right: 2px;
																															    }
